<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="page-header">
        <h1>Welcome to Desi! <small ng-bind="'(v%VERSION%)' | interpolate"></small></h1>
      </div>

      <div class="jumbotron">
        <div class="row">
          <div class="col-lg-7">
            <p>Setup your new blog in just 5 minutes.</p>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <!-- iframe width="560" height="315" src="//www.youtube.com/embed/pFAKAWP_sec" frameborder="0" allowfullscreen></iframe -->
            <br/>
            <pre>
<code>curl -fsSL bit.ly/install-deardesi | bash

desi init -d ~/Desktop/my-blog

open ~/Desktop/my-blog

desi serve -d ~/Desktop/my-blog</code>
            </pre>
            <br/>
            <p>The open <a href="http://local.dear.desi:65080">http://local.dear.desi:65080</a></p> in your browser.
          </div>
          <div class="col-lg-5">
            <h2>Why Desi?</h2>
            <br/>
            <ul>
              <li>Built in JavaScript
                <ul>
                  <li>Write content in Markdown, Jade, or HTML</li>
                  <li>Mustache Templates</li>
                  <li>Use <a href="http://ruhoh.com">ruhoh</a> themes (or roll your own)</li>
                </ul>
              </li>
              <li>Build your blog right in your browser</li>
              <li>Build headless with io.js (and node.js)</li>
              <li>Use Git, Dropbox, or regular Folders for management</li>
              <li>Dual Licensed Apache2 and MIT</li>
              <li>No Ruby version Hell - it'll still work in 6 months! :-D</li>
            </ul>
            <h3>What are you waiting for?</h3>
            <br/>
            <a class="btn btn-primary btn-lg pull-right" href="/#authors">Get Started!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
